.ModalBackground{
    
    position: fixed;
    opacity: 8;
    background-color: rgba(0,0,0, 0.5) !important;
    top:-10px;
    left: -10px;
    right:-10px;
    bottom:-10px;
    display: flex;
    justify-content:center;
    align-items: center;
    color:lightgrey;
    z-index: 1;

}
/*responsive*/
@media screen and (max-width: 768px){
    .TodoSearch{
        font-size: 20px;
        height: 40px;
    }
}
@media screen and (max-width: 480px){
    .TodoSearch{
        font-size: 18px;
        height: 35px;
    }
}
